<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css" href="../static/css/main.css">
</head>
<body>
    <div id="project-name" class="project-name"><h1>Oops</h1></div>
    <div id="project-body" class="project-body">
        <h1>Something drastic went wrong!</h1>
        <h2>Our Service Engineers are on it</h2>
        <a href="/">Go Home</a>
    </div>
</body>
</html>
